extends ../layouts/default

mixin item(item, i)
    .item.item-gallery
        if item.heroImage.exists
            .gallery-hero: a(href='/gallery/item/' + item.key)
                img(src=item._.heroImage.limit(760,760))
        .item-inner
            h2.item-title: a(href='/gallery/item/' + item.key)= item.name
            if item.content.brief
                p.item-description!= item.content.brief
            if item.publishedDate
                span.item-date= item._.publishedDate.format('Do MMM YYYY')
            //- future home of tags
            //- 
            //- if gallery.tags && gallery.tags.length
            //-     each tag, tag_i in gallery.tags
            //-         a(href='/blog/' + tag.key)= tag.name
        


block intro
    .container
        //- h1 Gallery Intro Block
        
    
block content
    //- .container.debug
        div= data.tags
        
    .gallery.container.isotope
        if data.galleries.length
            - i = 10
            - while(i--)
                each item in data.galleries
                    +item(item, i)
                
        else
            h3.text-muted There are no image galleries yet.
            
            
            
block js    
    script(type='text/javascript').
        $(function(){
            $galleryContainer = $('.gallery.container');
            $galleryContainer.isotope({
                  itemSelector : '.item-gallery'
            });
        });
