extends ../layouts/default

block content
    .container: .jumbotron
        //- img(src='/images/logo.svg', width='160')
        h1 Hello, I'm John
        h3 I'm a Front End Developer and UI Designer living near Seattle, Washington.
        
        p 
            | I currently contract at 
            a(href='http://www.starbucks.com' target='_blank') Starbucks HQ 
            | and I enjoy designing and building creative solutions for complex problems.
            
        p When I'm not coding or designing, you'll find me in the gym training with my <a href='http://www.teamphoinixpowerlifting.com/' target='_blank'>team</a>.
        
        
        
        hr
        if user && user.canAccessKeystone
            p
                a(href='/gallery', style='margin-right: 10px').btn.btn-lg.btn-primary Work
                a(href='/keystone/signin').btn.btn-link Open the Admin UI
        else
            p
                a(href='/gallery', style='margin-right: 10px').btn.btn-lg.btn-primary Work
                a(href='/keystone/signin').btn.btn-link Sign in


