// jumbotron overrides
.jumbotron {
    
}
.container .jumbotron {
    border-radius: 0px;
}


// button overrides
.btn {
  .button-size(@padding-base-vertical; @padding-base-horizontal; @font-size-base; @line-height-base; 0px);
}
.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  .button-size(@padding-large-vertical; @padding-large-horizontal; @font-size-large; @line-height-large; 0px);
}
.btn-sm {
  // line-height: ensure proper height of button next to small input
  .button-size(@padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; 0px);
}
.btn-xs {
  .button-size(@padding-xs-vertical; @padding-xs-horizontal; @font-size-small; @line-height-small; 0px);
}

// GALLERY
.item {
    border-radius: 0px;
    box-sizing: border-box;
    
    img {
        max-width: 100%;
    }
    
    .item-inner {
        box-sizing: border-box;
        background: @gray-darkest;
        padding: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
        padding-bottom: 15px;
        
        
    }
}

.item-gallery {
    
    
    // 1140/3
    // 940/3
    // 710/2
    // mobile - full
    width: 380px;
    
    .gallery-hero {
        width: 100%;
        padding-right: 15px;
    }
}

// .gallery {
//     .item {
//         width:33%;
//         padding: 0px;
//     }
// }